<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
   <%= link_to "all customners",  customers_index_path %>
    <%= link_to "alphabetized",  customers_alphabetized_path %>
  <%= link_to "missing email",  customers_missing_email_path %>
    <%= yield %>
  </body>
</html>
